/* HEADLINE */

#headline {
  max-width: 700px;
  margin: 0 auto;
  gap: 20px;
  padding: 30px 15px;
  padding-bottom: 100px;
}

.headline-p {
  background: #d3d3d3;
  border: 2px solid white;
}

.headline-p,
#headline .h-primary {
  max-width: 506px;
}

.headline-timeline {
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
}

.headline-timeline > span {
  font-size: 16px;
}

/* MAIN PROGRAM */

#programs {
  padding: 40px 15px;
  background: #272a31;
}

.programs-container {
  gap: 10px;
}

.program-card {
  display: flex;
  padding: 20px;
  align-items: center;
  gap: 20px;
  background: #d3d3d315;
}

.program-card-heading {
  font-size: 16px;
  color: #ec5242;
  font-weight: 600;
  min-width: 90px;
}

.program-card-para {
  font-size: 14px;
  line-height: 20px;
}

.program-card-img {
  width: 50px;
  height: 50px;
}

.program-join-btn {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: white;
  background: #ec5242;
}

/* FEATURED SPEAKERS */

#speakers {
  padding: 30px 20px;
}

.speakers-container {
  max-width: 950px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

.speakers-card {
  display: flex;
  gap: 20px;
}

.speakers-card-body {
  display: flex;
  flex-direction: column;
}

.speakers-img {
  margin-top: auto;
  width: 120px;
  height: 120px;
}

.speakers-more-btn {
  margin-top: 40px;
  background: #fff;
  border: 1px solid #72737765;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  text-align: center;
}
