/* Here you apply all kinds of styling to your app UIs */

* {
  font-family: '';
  font-weight: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.darkish {
  color: #272a31
}

.redish {
  color: #ec5242
}

.greyish {
  color: #d3d3d3
}

.hidden {
  display: none;
}

/* MAIN */

main {
  padding: 20px;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.nav-hamburger-box {
  width: 35px;
  height: 35px;
  background: none;
  border: none;
  padding: 0;
}

.nav-hamburger-bar {
  height: 6px;
  display: block;
  background: #272a31;
}

.nav-hamburger-bar:not(:nth-child(3)) {
  margin-bottom: 5px;
}
