.about-primary {
  gap: 40px;
  padding: 50px 15px;
  max-width: 900px;
  margin: auto;
}

.about-heading {
  max-width: 600px;
  text-align: center;
}

.about-para {
  text-align: center;
  border-radius: 4px;
  border: 1.5px solid #b7b9bbd0;
}

.about-bottom {
  padding: 0 40px;
  text-align: center;
  line-height: 24px;
  font-size: 14px;
  font-weight: 400;
}

.about-bottom u {
  font-weight: bold;
}

/* ABOUT LOGO */

.about-logo,
.about-teritiary {
  padding: 30px;
  border-bottom: 2px solid #d3d3d370;
}

.about-h-secondary {
  padding: 0 15px;
}

.about-h-secondary > span {
  padding: 0.5px 10px;
}

.about-logo-img {
  margin-top: 30px;
  max-width: 600px;
  padding: 20px;
  border-radius: 4px;
  border: 2px solid #b7b9bb1a;
}

.about-teritiary {
  padding: 30px 50px;
}

.about-teritiary .about-h-secondary {
  padding: 0 30px;
}

.about-teritiary > div {
  gap: 20px;
}
